/* Starting value */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.display_flex {
  display: flex;
}

.display_inline_block {
  display: inline-block;;
}

.display_inline {
  display: inline;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.vertical-align-middle {
  vertical-align: middle;
}

.vertical-align-bottom {
  vertical-align: bottom;
}

.vertical-align-sub {
  vertical-align: sub;
}

.vertical-align-super {
  vertical-align: super;
}

.padding {
  padding: 0px 10px;
}

.padding_top5 {
  padding-top: 5px;
}

.padding_top10 {
  padding-top: 10px;
}

.padding_top15 {
  padding-top: 15px;
}

.padding_top35 {
  padding-top: 35px;
}

.padding_top {
  padding-top: 50px;
}

.padding_bottom5 {
  padding-bottom: 5px;
}

.padding_bottom10 {
  padding-bottom: 10px;
}

.padding_bottom15 {
  padding-bottom: 15px;
}

.padding_bottom35 {
  padding-bottom: 35px;
}

.padding_bottom {
  padding-bottom: 50px;
}

.padding_left {
  padding-left: 50px;
}

.padding_right {
  padding-right: 50px;
}

.margin_bottom {
  margin-bottom: 50px;
}

.margin_bottom10 {
  margin-top: 10px;
}

.margin_bottom35 {
  margin-bottom: 35px;
}

.margin_top {
  margin-top: 50px;
}

.margin_left {
  margin-left: 50px;
}

.margin_left20 {
  margin-left: 20px;
}


.margin_right {
  margin-right: 50px;
}

.margin_top10 {
  margin-top: 10px;
}

.margin_top35 {
  margin-top: 35px;
}

.no_gutter_margin {
  margin: 0px;
}

.no_gutter_padding {
  padding: 0px;
}

 /* Style */

 .page_wrapper {
  height: 100vh;
 }

 body {
   font-family: Montserrat;
 }

 main {
  height: 100vh;
  height: calc(100% - 80px);
  background-color: #141922;
 }

 footer {
  float: left;
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 1;
  background-color: #282828;
 }

 aside {
  float:left;
  height: 100%;
  width: 300px;
  background-color:#000;
 }

/* Header */

.header_top {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1;
  width: calc(100% - 300px);
  opacity: 0.8;
  height: 80px;
  background-color: #080B12;
  float: right;
}

.header_top .btn {
  font-size: 1.2em;
  color: #fff;
  background-color: #080B12;
  text-transform: uppercase;
  border: 3px solid #fff;
  border-radius: 40px;
  margin-top: 15.5px;
  padding: 10px 20px;
}

.logo_hidden {
  font-size: 20px;
  color: #fff;
}

/* fine header */

/* inizio aside */

/* logo */

aside .logo {
  width: 180px;
  margin-top: 12px;
  margin-left: 20px;
}

/* logo */

/* menu */

/* first_menu */

.menu_list {
  list-style:none;
  display: block;
  color: #fff;
  font-size: 15px;
}

aside ul .logo {
  width: 60px;
  padding-right: 20px;
  margin: 0px;
  padding-top: 10px;
  color: #fff;
  opacity: 0.5;
}

li:hover .home_logo {
  color: #fff;
  opacity: 1.0;
  border-left: 3px solid yellow;
}

li:hover .search_logo {
  color: #fff;
  opacity: 1.0;
  border-left: 3px solid yellow;
}

li:hover .libreria_logo {
  color: #fff;
  opacity: 1.0;
  border-left: 3px solid yellow;
}

li:hover .home_a {
  color: #fff;
  opacity: 1.0;
}

li:hover .search_a {
  color: #fff;
  opacity: 1.0;
}

li:hover .libreria_a {
  color: #fff;
  opacity: 1.0;
}

.first_side_menu a {
  position: absolute;
  margin-top: 20px;
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  opacity: 0.5;
  text-transform: capitalize;
}

.first_side_menu ul {
  position: relative;
  margin-top: 30px;
  margin-left: 0px;
  padding-top: 10px;
}

/* end first menu */

/* second menu */
.square_grey {
  position: relative;
  width: 30%;
  height: 60px;
  background-color: #A9A9A9;
  margin-bottom: 20px;
}

.fa-plus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 30px;
}

.second_side_menu h2 {
  text-transform: uppercase;
  color: #fff;
}

.second_side_menu {
  padding-top: 30px;
}
.second_side_menu li {
  color: #fff;
  line-height: 30px;
  opacity: 0.5;
}

.second_side_menu span {
  position: absolute;
  margin-top: 20px;
  color: #fff;
  padding-left: 15px;
  font-size: 15px;
  opacity: 0.5;
}
/* end menu */

/* download and profile */

.Download_app {
  margin-top: 250px;
  border-bottom: 1px solid #A9A9A9;
}

.Download_app img {
  width: 35px;
  opacity: 0.5;
  padding-right: 10px;
}

.Profile .fa-user-circle{
  font-size: 25px;
  padding-right: 10px;
}

.Profile span {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
/* end navbar */

/* end aside */

/* start main */

/* service list */
.Service_list {
  justify-content: center;
}

.menu_service_list {
  margin-top: 150px;
  list-style: none;
  font-size: 20px;
  text-transform: uppercase;
}

.menu_service_list li {
  color: #fff;
  opacity: 0.5;
  display: inline;
  padding-right: 30px;

}

.Products img {
  width: calc(100% /6);

}
