/* Starting value */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.display_flex {
  display: flex;
}
.display_inline_block {
  display: inline-block;
}
.display_inline {
  display: inline;
}
.display_block {
  display: block;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
.text-align-left {
  text-align: left;
}
.vertical-align-middle {
  vertical-align: middle;
}
.vertical-align-bottom {
  vertical-align: bottom;
}
.vertical-align-sub {
  vertical-align: sub;
}
.vertical-align-super {
  vertical-align: super;
}
.padding {
  padding: 0px 10px;
}
.padding_top5 {
  padding-top: 5px;
}
.padding_top10 {
  padding-top: 10px;
}
.padding_top15 {
  padding-top: 15px;
}
.padding_top35 {
  padding-top: 35px;
}
.padding_top {
  padding-top: 50px;
}
.padding_bottom5 {
  padding-bottom: 5px;
}
.padding_bottom10 {
  padding-bottom: 10px;
}
.padding_bottom15 {
  padding-bottom: 15px;
}
.padding_bottom35 {
  padding-bottom: 35px;
}
.padding_bottom {
  padding-bottom: 50px;
}
.padding_left {
  padding-left: 50px;
}
.padding_right {
  padding-right: 50px;
}
.margin_bottom {
  margin-bottom: 50px;
}
.margin_bottom10 {
  margin-top: 10px;
}
.margin_bottom35 {
  margin-bottom: 35px;
}
.margin_top {
  margin-top: 50px;
}
.margin_left {
  margin-left: 50px;
}
.margin_left20 {
  margin-left: 20px;
}
.margin_right {
  margin-right: 50px;
}
.margin_right20 {
  margin-right: 20px;
}
.margin_top10 {
  margin-top: 10px;
}
.margin_top35 {
  margin-top: 35px;
}
.no_gutter_margin {
  margin: 0px;
}
.no_gutter_padding {
  padding: 0px;
}
 /* Style */
 .page_wrapper {
  display: flex;
  overflow-y: auto;
  height: calc(100vh - 100px);
 }
 body {
   font-family: Montserrat;
 }
 main {
  overflow-y: scroll;
  overflow-x: auto;
  display: flex;
  width: 100%;
  height: calc(100% - 100px);
  background-color: #141922;
 }
 footer {
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 1;
  background-color: #282828;
 }
 aside {
  height: calc(100vh - 100px);
  width: 300px;
  background-color:#000;
  overflow-y: auto;
 }
 p {
   color: #fff;
   opacity: 0.5;
 }
 h2 {
   text-transform: capitalize;
   color:#fff;
   font-weight: bold;
   font-size: 20px;
 }
 h3 {
   text-transform: capitalize;
   color:#fff;
   font-weight: bold;
   font-size: 20px;
 }
 h4 {
   color:#fff;
 }
/* Header */
.header_top {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1;
  width: calc(100% - 300px);
  opacity: 0.8;
  height: 80px;
  background-color: #080B12;
  float: left;
}
.header_top .btn {
  font-size: 1.2em;
  color: #fff;
  background-color: #080B12;
  text-transform: uppercase;
  border: 3px solid #fff;
  border-radius: 40px;
  margin-top: 15.5px;
  padding: 10px 20px;
}
#h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
}
.logo_hidden {
  font-size: 20px;
  color: #fff;
}
/* fine header */
/* inizio aside */
/* logo */
aside .logo {
  width: 80%;
  margin-top: 12px;
  margin-left: 20px;
}
/* logo */
/* menu */
/* first_menu */
.logo_nascosto{
  margin-top: 10px;
  margin-left: 10px;
  width: 80%;
}
.menu_list {
  margin-top: 40px;
  margin-left: 15px;
}
.menu_list img {
  width: 20%;
  opacity: 0.6;
}
.menu_list div {
  display: flex;
  justify-content: flex-start;
  margin: 10px;
}
.menu_list a {
  color: #fff;
  opacity: 0.6;
  padding: 20px;
  margin-left: 20px;
  text-decoration: none;
}
.menu_list div:hover img {
  color: #fff;
  opacity: 1;
  transform: scale(1.2);
  transition: 0.5s;
  border-left: 3px solid yellow;
  cursor: pointer;
}
/* end first menu */
/* second menu */
.second_side_menu {
  padding-top: 30px;
  overflow-y: hidden;
}
.second_side_menu h2 {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
.second_side_menu li {
  color: #fff;
  line-height: 30px;
  opacity: 0.5;
}
.second_side_menu span {
  position: absolute;
  margin-top: 20px;
  color: #fff;
  padding-left: 15px;
  font-size: 15px;
  opacity: 0.5;
}
.second_side_menu .menu_list {
  overflow-y: auto;
}
.square_grey {
  position: relative;
  min-width: 60px;
  min-height: 60px;
  background-color: #A9A9A9;
  margin-bottom: 20px;
}
.fa-plus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 30px;
}
/* end menu */
/* download and profile */
.download_app {
  margin-top: 60px;
  border-bottom: 1px solid #A9A9A9;
}
.download_app img {
  width: 35px;
  opacity: 0.5;
  padding-right: 10px;
}
.profile .fa-user-circle{
  font-size: 25px;
  padding-right: 10px;
}
.profile span {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
/* end navbar */
/* end aside */
/* start main */
/* service list */
.central_main {
  height: calc(100vh - 100px);
  width: calc(100% - 300px);
  overflow-y: auto;
}
.service_list {
  justify-content: center;
}
.menu_service_list {
  margin-top: 150px;
  list-style: none;
  font-size: 20px;
  text-transform: uppercase;
}
.menu_service_list li {
  width: calc(100% / 6);
  flex-wrap: wrap;
  justify-content: center;
  color: #fff;
  opacity: 0.5;
  display: inline;
  padding: 5px 15px;
}
.evidenza {
  position: relative;
}
.evidenza::after {
  content:'';
  position:absolute;
  width:50px;
  height:4px;
  background:yellow;
  border-radius: 20%;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.Service_list:hover .border_yellow {
  display: block;
}
/* end service list */
/* products list */
.central_main h2 {
  margin-left: 30px;
  font-size: 30px;
}
.film_cover img {
  width: 100%;
}
.film_cover p {
  margin: 0px;
}
/* overlay */
/* filmcover */
.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.film_cover {
  position: relative;
  width: calc(100% / 6);
  padding: 20px;
}
.film_cover .overlay {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display: none;
  color: #fff;
  cursor: pointer;
}
.film_cover:hover .overlay {
  background-color: #000;
  opacity: 0.6;
  display: block;
  transition: 3s;
}
.film_cover .fa-play-circle {
  position: absolute;
  top:50%;
  left:50.5%;
  font-size: 50px;
  transform: translate(-50%,-50%);
}
.cover_overlay {
  position: relative;
  width: 100%;
}
/* filmcover */
/* mixcover */
.mix_cover .overlay {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: none;
    color: #fff;
}
.mix_cover .cover_overlay {
  margin-left: 15px;
  margin-right: 20px;
}
.mix_cover:hover .overlay {
  background-color: #000;
  opacity: 0.6;
  display: block;
  cursor: pointer;
  transition: 3s;
}
.mix_cover {
  position: relative;
}
.mix_cover img {
  width: 100%
}
.text_playlist {
  margin-left: 30px;
}
.mix_cover .fa-play-circle {
  position: absolute;
  top:50%;
  left:50.5%;
  font-size: 50px;
  transform: translate(-50%,-50%);
}
/* mixcover */
/* popolarartist */
.popolar_artist img {
  width: 100%;
  border-radius: 50%;
}
.artist_cover .overlay {
  position: absolute;
  top:0;
  left:0;
  width: 90%;
  height: 100%;
  display: none;
  color: #fff;
}
.text_popolar_artist {
  margin-left: 30px;
}
.artist_cover {
  position: relative;
  margin-left: 20px;
}
.artist_cover .cover_overlay {
  margin-left: 15px;
  margin-right: 20px;
}
.artist_cover:hover .overlay {
  background-color: #000;
  opacity: 0.6;
  min-width: 90%;
  height: 100%;
  display: block;
  cursor: pointer;
  border-radius: 200px;
}
.artist_cover .fa-play-circle {
  position: absolute;
  top:50%;
  left:50.5%;
  font-size: 50px;
  transform: translate(-50%,-50%);
}
/* popolarartisti */
/* overlay */
/* termine main */
/* inizio footer */
.container_flex {
  align-items: center;
}
/* left footer */
footer ul {
padding: 0;
}
footer ul {
margin: 0;
}
#small_sinister {
  max-width: 100px;
  max-height: 100px;
  padding: 20px;
}
.left_footer {
  width: 25%;
  align-items: center;
}
.text_left_footer li {
  display:inline;
  list-style: none;
  color: #fff;
}
#brano {
  color: #fff;
  opacity: 0.5;
}
.text_left_footer ul {
  padding-top: 20px;
}
.left_footer span {
  margin-top: 10px;
  margin-left: 15px;
  color: #fff;
  opacity:0.5;
}
.music_player {
  width: calc((100% / 3) - 15px);
  text-align: center;
}
/* central footer */
.central_footer {
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.central_footer .menu_list {
  margin: 0;
  padding: 10px 0;
}
.player {
  margin: 0;
  width: 50%;
  height: 100%;
  align-items: center;
}
.central_footer .menu_list li {
  list-style: none;
  display: inline;
  color: #fff;
  padding: 0px 20px;
}
#play_circle {
  font-size: 40px;
}
.central_bar {
  position: relative;
  width: 80%;
  height: 4px;
  border-radius: 6px;
  background-color: #fff;
  opacity: 0.8;
}
.central_yellow_bar {
  position: absolute;
  left: 0px;
  width: 30%;
  height: 4px;
  border-radius: 6px;
  background-color: yellow;
  cursor: pointer;
  display: none;
}
.fa-circle {
  position: absolute;
  top: 0;
  left: 100%;
  cursor: pointer;
  transform: translate(0%, -30%);
  color: #fff;
}
.icons:hover .fa-play-circle {
  transition: 0.6s;
  color: crimson;
  opacity: 0.6;
  cursor: pointer;
}
.central_bar:hover .central_yellow_bar {
  transition: 1s;
  cursor: pointer;
  display: block;
}
.number, .central_bar {
  display: inline-block;
  padding: 0px 10px;
}
.number {
  color: #fff;
}
/* right footer */
.right_footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
}
.right_footer .menu_list li {
  list-style: none;
  color: #fff;
  padding: 0px 10px;
  margin-bottom: 35%;
}
.right_bar {
  margin-top: 40px;
  position: relative;
  margin: 0px 10px;
  width: 50%;
  height: 4px;
  border-radius: 6px;
  background-color: #fff;
  opacity: 0.8;
}
.right_yellow_bar {
  position: absolute;
  width: 30%;
  height: 4px;
  left: 0px;
  border-radius: 6px;
  background-color: yellow;
  cursor: pointer;
  display: none;
}
.fa-circle {
  position: absolute;
  top: 0;
  left: 100%;
  cursor: pointer;
  transform: translate(0%, -30%);
  color: #fff;
}
.right_bar:hover .right_yellow_bar {
  cursor: pointer;
  display: block;
}
/* media  query */
@media screen and (min-width: 992px) and (max-width:1200px) {
  main .menu_service_list {
    flex-wrap: wrap;
  }
  .film_cover {
    width: calc(100% / 4);
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  main .menu_service_list {
    flex-wrap: wrap;
  }
  .film_cover {
    width: calc(100% / 2);
    flex-wrap: wrap;
  }
  .artist_cover .overlay {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: none;
    color: #fff;
  }
  .artist_cover:hover .overlay {
    background-color: #000;
    opacity: 0.6;
    min-width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    border-radius: 200px;
  }
  footer .central_footer .player {
    width: 70%;
  }
  footer .right_footer .right_bar {
    width: 40%;
  }
}
@media screen and (min-width: 0px) and (max-width:768px) {
  aside .logo {
    display: none
}
  aside a {
    display: none;
}
 aside span {
   display: none;
 }
 /* aside .home_logo {
   display: none;
 } */
 aside ul .home_logo, .search_logo, .libreria_logo {
   width:70%;
   padding-left: 25px;
   padding-top: 10px;
   color: #fff;
   opacity: 0.5;
 }
 .profile_download {
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
 }
#responsive_download {
  justify-content: flex-end;
   align-items: flex-end;
  width: 40px;
  margin-left: 30px;
  margin-right: 30px;
}
div i {
  font-size: 30px;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 5px;
}
aside {
  width: 100px;
}
 .header_top {
   width: calc(100% - 100px);
 }
 .central_main {
   height: calc(100vh - 100px);
   width: calc(100% - 100px);
 }
 .film_cover {
   width: calc(100% / 2);
   flex-wrap: wrap;
 }
 .artist_cover .overlay {
   position: absolute;
   top:0;
   left:0;
   width: 100%;
   height: 100%;
   display: none;
   color: #fff;
 }
 .artist_cover:hover .overlay {
   background-color: #000;
   opacity: 0.6;
   min-width: 100%;
   height: 100%;
   display: block;
   cursor: pointer;
   border-radius: 200px;
 }
 .artist_cover .fa-play-circle {
   position: absolute;
   top:50%;
   left:38%;
   font-size: 40px;
   transform: translate(-50%,-50%);
 }
 .mix_cover .fa-play-circle {
   position: absolute;
   top:50%;
   left:38%;
   font-size: 40px;
   transform: translate(-50%,-50%);
 }
 .film_cover .fa-play-circle {
   position: absolute;
   top:50%;
   left:38%;
   font-size: 40px;
   transform: translate(-50%,-50%);
 }
 footer .central_footer .player {
   width: 50%;
 }
 footer .right_footer .menu_list {
   width: 50%
 }
 footer .right_footer .menu_list i {
   font-size: 10px;
 }
 footer .right_footer .menu_list li {
   padding: 0px;
 }
 footer .right_footer .right_bar {
   width: 20%;
 }
}
